[merge]
	conflictstyle = diff3
[color]
	ui = true
[alias]
	view = log --graph --oneline --decorate --boundary --all HEAD
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lgn = log --color -n 1 --name-only
    sync = !tmp_branch="$(git rev-parse --abbrev-ref HEAD)" && git checkout "$1" && git pull && git checkout "${tmp_branch}" && git rebase "$1"

    checkuot = checkout
    brnach = branch
    balefire = "!f() { git filter-branch --index-filter \"git rm --cached --ignore-unmatch $1\" --tag-name-filter cat -- --all ; }; f $1"
    deleteremote = push origin --delete 
[core]
	editor = vim
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[difftool]
    prompt = false
[difftool "vimdiff"]
    # Diff two files, local file editable and remote file readonly.
	cmd = vim -R -f -d -c \"wincmd l\" -c 'set noreadonly' -c 'cd \"$GIT_PREFIX\"' \"$LOCAL\" \"$REMOTE\"
[push]
	default = current
[url "ssh://git@github.com/treaster/"]
	insteadOf = https://github.com/treaster/
[init]
	defaultBranch = main
